<div fxLayout="column" class="PageContent">

  <md-card class="mat-elevation-z2">
    <md-card-title>
      <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center strech"
        fxLayoutAlign.gt-md="space-between center">
        {{ 'change password' | translate }}
      </div>
    </md-card-title>
  </md-card>

  <div class="activity-card mat-elevation-z2">
    <div class="title-container" fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="column">
        <span class="title">{{ 'user' | translate }}</span>
        <span class="extra"> {{ user.id }}</span>
      </div>
      <span fxFlex></span>
      <div fxLayout="column">
        <span class="title">{{ 'name' | translate }}</span>
        <span class="extra"> {{ user.name }}</span>
      </div>
      <span fxFlex></span>
      <div fxLayout="column">
        <span class="title">{{ 'surname' | translate }}</span>
        <span class="extra"> {{ user.surname }}</span>
      </div>
      <span fxFlex></span>
      <div fxLayout="column">
        <span class="title">{{ 'last access' | translate }}</span>
        <span class="extra"> {{ user.lastAccessDate }}</span>
      </div>
      <span fxFlex></span>
    </div>
    <form [formGroup]="changepasswordForm" class="form-content">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center" fxLayoutWrap fxLayoutGap="15px">
        <md-input-container floatingPlaceholder="false" fxFlex.gt-sm="0 0 250px">
          <input mdInput #password formControlName="newpassword" placeholder="{{'newpassword' | translate}}"
            type="password" autofocus>
        </md-input-container>
        <span *ngIf="(newPassword.touched && newPassword.invalid)">
          <ul>
            <li *ngIf="newPassword.errors.required">{{'newpassword' | translate}}&nbsp;{{'is required' | translate }}
            </li>
            <li *ngIf="newPassword.errors.minlength">{{'newpassword' | translate}}&nbsp;{{'needs at least' | translate}}&nbsp;{{ newPassword.errors.minlength.requiredLength
                  }}&nbsp;{{'characters' | translate }}</li>
          </ul>
        </span>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center" fxLayoutWrap fxLayoutGap="15px">
        <md-input-container floatingPlaceholder="false" fxFlex.gt-sm="0 0 250px">
          <input mdInput formControlName="repeatpassword" placeholder="{{'repeat new password' | translate}}"
            type="password">
        </md-input-container>
        <span *ngIf="(repeatPassword.touched && repeatPassword.invalid)">
          <ul>
            <li *ngIf="repeatPassword.errors.required">
              {{'repeat new password' | translate}}&nbsp;{{'is required' | translate }}</li>
            <li *ngIf="repeatPassword.errors.minlength">{{'repeat new password' | translate}}&nbsp;{{'needs at least' | translate}}&nbsp;{{ repeatPassword.errors.minlength.requiredLength
                      }}&nbsp;{{'characters' | translate }}</li>
          </ul>
        </span>
      </div>
    </form>
  </div>
  <md-card class="mat-elevation-z2">
    <md-card-content fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center" fxLayoutWrap>
      <button md-raised-button color="secondary" (click)="onGoBack()">
        {{'go back' | translate}}
      </button>
      <button md-raised-button color="primary" (click)="onUpdate()" [disabled]="changepasswordForm.invalid">
        {{'ok' | translate}}
      </button>
    </md-card-content>
  </md-card>
</div>
