md-input-container {
  width: 100%;
}

.error {
  margin-bottom: 5px;
  color: #a94442;
  font-size: 14px;
}

.input-file {
  width: 100%;
  margin-top: 10px;
}

.image-preview {
  width: 100%;
  margin-top: 10px;
}
