<div fxLayout="column" class="PageContent">

  <md-card class="mat-elevation-z2">
    <md-card-title>
      <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center strech"
        fxLayoutAlign.gt-md="space-between center">
        {{ 'Debt' | translate }}
      </div>
    </md-card-title>
  </md-card>

  <div class="activity-card mat-elevation-z2">
    <div class="title-container" fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="column">
        <span class="title">{{ 'user' | translate }}</span>
        <span class="extra"> {{ user.id }}</span>
      </div>
      <span fxFlex></span>
      <div fxLayout="column">
        <span class="title">{{ 'name' | translate }}</span>
        <span class="extra"> {{ user.name }}</span>
      </div>
      <span fxFlex></span>
      <div fxLayout="column">
        <span class="title">{{ 'surname' | translate }}</span>
        <span class="extra"> {{ user.surname }}</span>
      </div>
      <span fxFlex></span>
      <div fxLayout="column">
        <span class="title">{{ 'last access' | translate }}</span>
        <span class="extra"> {{ user.lastAccessDate }}</span>
      </div>
      <span fxFlex></span>
    </div>
    <form  class="form-content">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center" fxLayoutWrap fxLayoutGap="15px">
        <md-input-container  floatingPlaceholder="false" fxFlex.gt-sm="0 0 250px">
          <input #amount mdInput placeholder="{{'amount' | translate}}" min="0" type="number" step="0.10">
        </md-input-container>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center" fxLayoutWrap fxLayoutGap="15px">
        <md-input-container fxFlex="72%">
          <input mdInput  placeholder="{{'debt comment' | translate}}">
        </md-input-container>
      </div>
    </form>
  </div>
  <md-card class="mat-elevation-z2">
    <md-card-content fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center" fxLayoutWrap>
      <button md-raised-button color="secondary" (click)="onGoBack()">
        {{'go back' | translate}}
      </button>
      <button md-raised-button color="primary" [disabled]="changepasswordForm.invalid">
        {{'ok' | translate}}
      </button>
    </md-card-content>
  </md-card>
</div>
