<div fxLayout="column" class="PageContent">
    <md-card fxHide.gt-sm="true" class="mat-elevation-z2" fxLayout="column" fxLayoutAlign="start center">
        <md-card-title>{{'group by state' | translate}}</md-card-title>
    </md-card>

    <md-card class="mat-elevation-z2">
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center" fxLayoutWrap fxLayoutGap="15px">
            <md-input-container floatingPlaceholder="false" fxFlex.gt-sm="0 0 450px">
                <input mdInput [formControl]="filter" placeholder="{{'filter' | translate}}" type="text" (keypress)="onKeypress($event)">
            </md-input-container>
            <button md-raised-button color="primary" (click)="onSearch()">{{'search' | translate}}</button>
        </div>
        <div class="u-TopSpace" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center" fxLayoutWrap fxLayoutGap="15px" fxFlex="1 0 100%">
            <button md-raised-button color="primary" (click)="onAdd()">{{'add group' | translate}}</button>
            <button md-raised-button color="secondary" (click)="onEdit()" [disabled]="!hasSelection()">{{'detail' | translate}}</button>
            <button md-raised-button color="secondary" (click)="onDelete()" [disabled]="!hasSelection()">{{'delete' | translate}}</button>
        </div>
    </md-card>

    <md-divider md-inset></md-divider>
    <!--fxFlex-->
    <div class="mat-elevation-z2">
        <ngx-datatable class="material" [loadingIndicator]="loading" [columnMode]="'force'" [rowHeight]="40" [headerHeight]="50" [footerHeight]="50" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" [columns]="columns" [rows]="rows"
            [scrollbarH]="true" [externalPaging]="true" (page)="setPage($event)" [sorts]="[{prop: page.filters.sortType, dir: page.filters.sortDirection}]" [externalSorting]="true" (sort)="onSort($event)" (activate)="handleActivate($event)" [rowClass]="getRowClassBound"
            [messages]="translateMessages">
        </ngx-datatable>
        <ng-template #selectedCellTemplate let-row="row" let-value="value">
            <md-icon *ngIf="isSelected(row)">check</md-icon>
        </ng-template>
    </div>
</div>